
.images__wrap{
    display:flex;
    flex-wrap:wrap;
    gap: 3.333vw;
    padding-bottom: clamp(50px,7.292vw,140px);
    .image-item{
        width:calc(50% - 3.333vw / 2);
        overflow: hidden;
        border-radius: clamp(10px, 1.250vw ,24px);
    }
    img{
        display: block;
        width:100%;
        height: 100%;
        object-fit: cover;
    }
  
}


@media (min-width:1920px){
    .images__wrap{
        gap: 64px;
        .image-item{
            width:calc(50% - 64px / 2); 
        }
    }
}