@import '../../VARS.scss';

.feedback{
    &-title{
        margin-bottom:0;
        padding:clamp(10px,1.771vw,24px) clamp(15px,1.667vw,32px);
        border-bottom: 1px solid var(--border-block);
        h2{
            @extend %italic-400;
            font-size:$font-size-large;
            color:var(--color-text);
            line-height: 120%;
            letter-spacing: -0.5px;
        }
    }
    &__wrap{
        border: 1px solid var(--border-block);
        border-radius: 24px;
    }
    &-contant__wrap{
        display:flex;
        justify-content: space-between;
    }
    &-slider{
        max-width:clamp(341px,59.323vw,1139px);
        
    }
    &-contant{
        padding:clamp(25px,3.333vw,64px) clamp(15px,1.667vw,32px);
    }
}


@media (max-width:767px){
    .feedback{
        &-title{
           
            padding:8px;
            border-top: 1px solid var(--border-block);
            border-left: 1px solid var(--border-block);
            border-right: 1px solid var(--border-block);
            border-bottom:0;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            h2{
                font-size:28px;
            }
        }
        &-btn{
            order:2;
            margin-top:24px;
            display:flex;
            margin:24px auto 0 auto;
           // justify-content: center;
        }
        &__wrap{
            border: 0px ;
            border-radius: 0;
        }
        &-contant__wrap{
            display:flex;
            justify-content: space-between;
            flex-wrap:wrap;
        }
        &-slider{
            max-width:100%;
            border: 1px solid var(--border-block);
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
        }
        &-contant{
            padding:0;
        }
    }
    
}

@media (max-width:500px){
    .feedback{
       
        &-btn{
            width:100%;
           .btn{
            width:100%;
            min-width:100%;
           }
        }
      
    }
    
}